
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    
    background: #252A34;
    font-family: 'Poppins', sans-serif;    
}
html{
    scroll-behavior: smooth;
}
nav,
.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 20px;
}
.nav-links{
    gap: 32px;
    font-size: 18px;
    list-style: none;
}
a{
    text-decoration: none;
    text-decoration-color: white;
    color: #fcfafa;
}
a:hover{
    color: gray;
    
}
div.logo{
    font-size: 24px;
    color: white;
}
/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: 40px;
    margin-bottom: 2px;
    color: red;
    margin-left: 5vh;
}

.Name {
    color: white;
}

.About{
    display: flex;
}
.pic{
    height: 300px;
    width: 300px;
    margin-left: 50vh;
    
}


/*BUTTONS*/
.button {
    margin-left: 5vh;
    display: inline-block;
    background-color: red;
    color: #fff;
    padding: 10px 12px;
    font-weight: 20px;
    border-radius: 8px;
    transition: all .3s;
}

 .button:hover {
    color: rgb(255, 5, 5);
    background-color: white;
}
.home__social-icon{
    width: 30px;
    margin-top: 50vh;
}

